<% if @display%>
  <div class="header-flexbox">
    <div class="header-title">加工納入先</div>
    <div class="header-button"><%= link_to "納品済", orders_path(display: "none") %></div>
  </div>
<% else %>
  <div class="header-flexbox">
    <div class="header-title">納品済</div>
    <div class="header-button"><%= link_to "戻る", root_path %></div>
  </div>
<% end %>
<div class="scrollーblank"></div>
<% @orders.each do |order| %>
  <div class="order" data-id="<%= order.id %>">
    <div class="index-flexbox">
      <div class="dropdown">
        <div class="dropdown-toggle">▼</div>
        <ul class="dropdown-menu">
          <li><%= link_to "詳細", order %></li>
          <li><%= link_to "編集", edit_order_path(order) %></li>
          <% if @display %>
            <li><span class="display">納品済</span></li>
          <% else %>
            <li><span class="display">未納品</span></li>
          <% end %>
        </ul>
      </div>
      <label for="modal-check" class="name-label">
        <span class="order-name"
          data-order_product_name="<%= order.product_name %>"
          data-order_delivery_date="<%= order.delivery_date %>"
          data-order_comment="<%= order.comment %>">
          <%= order.customer_name %>
        </span>
      </label>
    </div>
    <hr class="border-line">
  </div>
<% end %>
<% if @display %>
  <div class="registration-button"><%= link_to "新規登録", new_order_path %></div>
<% end %>
<%= render 'modal'%>
