<% if @display %>
  <h1>納入先</h1>
  <%= link_to "納品済リスト", orders_path(display: "none") %>
<% else %>
  <h1>納品済リスト</h1>
  <%= link_to "戻る", root_path %>
<% end %>
<% @orders.each do |order| %>
  <p class="order" data-id="<%= order.id %>">
    <button  data-toggle="modal" data-target="#exampleModal">
      <span class="screen"
        data-order_product_name="<%= order.product_name %>"
        data-order_delivery_date="<%= order.delivery_date %>"
        data-order_comment="<%= order.comment %>">
        <%= order.customer_name %>
      </span>
    </button>
    <%= link_to "詳細", order %>
    <%= link_to "編集", edit_order_path(order) %>
    <% if @display %>
      <span class="display">納品済</span>
    <% else %>
      <span class="display">未納品</span>
    <% end %>
  </p>
<% end %>
<% if @display %>
  <%= link_to "登録画面", new_order_path %>
<% end %>
<%= render 'modal' %>
