<h1>新規登録</h1>
<%= form_with model: @order, local: true do |form| %>
  <div>
    <%= form.label :customer_name, "納入先" %>
    <%= form.select :customer_name, @customer_names, {include_blank: true}, {class: "flexselect", name: "customer[name]"}  %>
  </div>
  <div>
    <%= form.label :name, "製品名" %>
    <%= form.select :name, @product_names, {include_blank: true}, {class: "flexselect", name: "product[name]"}  %>
  </div>
  <div>
    <%= form.label :process, "工程" %>
    <%= form.select :process,Product.processes_i18n.invert %>
  </div>
  <div>
    <%= form.label :delivery_date, "納品希望日" %>
    <%= form.text_field :delivery_date %>
  </div>
  <div>
    <%= form.label :processor_name, "加工先" %>
    <%= form.select :processor_name, @processor_names, {include_blank: true}, {class: "flexselect", name: "processor[name]"}  %>
  </div>
  <div>
    <%= form.label :drawing_number, "図面番号" %>
    <%= form.select :drawing_number, @product_drawing_numbers, {include_blank: true}, {class: "flexselect", name: "product[drawing_number]"}  %>
  </div>
  <div>
    <%= form.label :comment, "備考" %>
    <%= form.text_area :comment %>
  </div>
  <div>
    <%= form.submit "登録" %>
  </div>
<% end %>
